<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main.html">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" layout:fragment="contentFragment">
        <div class="col" th:each="request : ${requests}">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title">
                        <span th:if="${!request.isHandled()}" style="color: red; font-weight: bold; font-size: x-large">*(Новая) </span>
                        <span th:text="'Заявка от '" style="font-size: x-large"></span>
                        <span class="fw-bold" th:text="${request.getUserName()}" style="font-size: x-large"></span>
                    </h1>
                    <p class="card-text" th:text="'Курс: ' + ${request.getCourseName()}"></p>
                    <p class="card-text" th:text="${request.getCommentary()}"></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <p class="card-text fw-bold" th:text="${request.getPhone()} + ' '"></p>
                            <a th:href="'/' + ${request.getId()}" class="decoration-none">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>